body{
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 20vh;
    padding-top: 18vh;
    padding-left: 44vw;
    padding-bottom: 27vh;
    /* background-image: linear-gradient(#65d6fe, #081e24); */
    background-image: url(/mobile-friendly/mfw-day1-takehome/img/Untitled.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;


}
h1{
    color: white;
}
article{
    background-color: white;
    padding-top: 11vh;
    padding-bottom: 11vh;
}
.firsttitle{
    color: darkblue;
    padding-left: 15vw;
} 
h3{
  color: darkblue;  
}
.firstpara{
    padding-left: 15vw;
    padding-right: 15vw;
}
.secondtitle{
    padding-left: 75vw;
    color: darkblue;
}
.secondpara{
    padding-left: 15vw;
    padding-right: 15vw;
}
footer{
    height: 6vh;
    color: white;
    padding-left: 48vw;
    background-color: #081e24;
}